/* style for student.php */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.IITG_logo{
    height: 50px;
    width: 50px;
}
.nav_bar{
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.3em;
    height: 10vh;
    color: white;
    padding:0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #0b63c0; */
    background-color: rgb(61 129 161);
}
.left_nav{
    display: flex;
    align-items: center;
}
.left_nav span{
    margin: 0 10px;
}
.right_nav a{
    color: white;
    text-decoration: none;
}
.right_nav a:hover{
    text-decoration: underline;
}

.container{
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}
.open_nav{
    display: none;
}
.left{
    width: 20vw;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}
.left a{
    display: none;
}
.right{
    position: relative;
    left: 20vw;
    width: 80vw;
    min-height: 100%;
    height: fit-content;
    background-color: #e5e7eb;
    padding: 0 1.2rem;
}
.left_list{
    list-style: none;
    height: 100%;
    padding: 10px;
}
.left_list li{
    font-size: 1.15em;
    font-weight: 600;
    font-family: sans-serif;
    height: 45px;
}
.left_list li:hover{
    background-color: #c3c5c8;
}
.left_list li a{
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    color: black;
    height: 100%;
    align-items: center;
}

/* For registration.php */
.company_info{
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-color: white;
    font-family: 'lato', sans-serif;
    padding: 1rem 0;
}
.company_heading{
    padding: 10px 30px;
    font-size: 32px;
    font-weight: 600;
}
.company_nav{
    display: flex;
    padding: 0 30px;
}
.company_nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-right: 40%;
}
.company_nav a:hover{
    text-decoration: underline;
    color: rgb(46, 43, 43);
}
hr{
    margin: 6px 30px;
}
.company_info_container{
    width: 100%;
    padding: 1.5rem 30px 0;
}
.company_info_container>div{
    display: flex;
    margin-bottom: 2rem;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company_info_container>div>div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.gender label{
    font-size: 0.9rem;
}

input, select{
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 4px;
}
.btn{
    font-size: 1.02rem;
    background-color: #0b63c0;
    padding: 6px 15px;
    color: white;
    margin: 30px;
    border: 0;
    border-radius: 4px; 
}
.btn:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    .right_nav{
        font-size: 1.05rem;
    }
    .profile_info_container>div{
        width: 100%;
    }

    .open_nav{
        display: inline;
    }
    .left a{
        display: inline;
    }
    .left{
        width: 0;
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            background-color: white;
        
    }
    .left_list{
        padding-top: 35px;
        font-size: 0.9rem;
    }
    .right{
        left:0;
        width: 100vw;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}